// colors
$background-color: #f1f1f1;
$background-color-light: #999;
$border-color: #c2c2c2;
$border-color-dark: #333;
$error-color: #ff0000;
$spinner-color: #8b0000;
$shadow-dark: rgba(0, 0, 0, .15);
$font-color-light: #fff;
$button-bg-color-primary: #7da01f;
$button-bg-color-warning: #ffa500;
$button-warning-color: #008000;

// breaking points
$bp-sm-min: 0;
$bp-sm-max: 480px;

$bp-med-min: 481px;
$bp-med-max: 768px;

$bp-lg-min: 769px;
$bp-lg-max: 1200px;

$bp-key-small: 'sm';
$bp-key-medium: 'med';
$bp-key-large: 'lg';

// grid
$grid-columns: 12;
$grid-breakpoints-min: (
  $bp-key-small: $bp-sm-min, // The first breakpoint needs to be 0 to allow elements to position properly below other breakpoints
  $bp-key-medium: $bp-med-min,
  $bp-key-large: $bp-lg-min,
);
$grid-breakpoints-max: (
  $bp-key-small: $bp-sm-max,
  $bp-key-medium: $bp-med-max,
  $bp-key-large: $bp-lg-max,
);

$grid-gutter-width: (
  $bp-key-small: 20px,
  $bp-key-medium: 24px,
  $bp-key-large: 60px,
);
$grid-col-gutter-width: (
  $bp-key-small: 12px,
  $bp-key-medium: 12px,
  $bp-key-large: 15px,
);
