// colors
$background-color: #f1f1f1;
$background-color-light: #999;
$border-color: #c2c2c2;
$border-color-dark: #333;
$error-color: #ff0000;
$spinner-color: #8b0000;
$shadow-dark: rgba(0, 0, 0, .15);
$font-color-light: #fff;
$button-bg-color-primary: #7da01f;
$button-bg-color-warning: #ffa500;
$button-warning-color: #008000;
